@-webkit-keyframes pulse {
from {
 opacity: 0.0;
 font-size: 100%;
}
to {
 opacity: 1.0;
 font-size: 1800%;
}
}

h1 {
-webkit-animation-name: pulse;
-webkit-animation-duration: 9s;
-webkit-animation-iteration-count: infinite;
-webkit-animation-timing-function: ease-in-out;
-webkit-animation-direction: alternate;
color:purple;

}

#sinnie {
  z-index: 1;
}



